@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import './../libs/normalize/reset.css';
@import './components/container/bootstrap-container';
@import './components/body/body';
@import './components/navbar/navbar';

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
